#Main requirements
nest-asyncio>=1.5.7
numba>=0.58.0
pandas>=2.0.3
scipy>=1.10.1
SQLAlchemy==1.4.39
SQLAlchemy-Utils>=0.41.1
sqlglot-aidb>=0.0.10
statsmodels>=0.14.0
flatten-json
tqdm>=4.66.1
Pillow>=10.1.0
boto3

# Extra dependencies for sql
--extra mysql
aiomysql>=0.2.0
--extra postgresql
asyncpg>=0.28.0
--extra sqlite
aiosqlite>=0.19.0

# Extra dependencies for testing
--extra test
gdown
uvicorn
networkx
pytest

# Extra dependencies for vectordb
--extra chromadb
chromadb>=0.4.11
--extra faiss-cpu
faiss-cpu>=1.7.4
--extra weaviate-client
weaviate-client>=3.24.1